/*
INICIA CONTACTO
*/
article.contacto{
    background-color:rgb(66, 165, 245);
    height: 120px;
    margin: 50px 0px 50px 0px;
}
article.contacto h2{
    padding-top: 40px;
    color: rgb(255, 255, 255);
    
}
article .img-contacto{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 80px;
    border-radius: 50%;

}
article .caja-contacto{
    display: grid;
    place-items: center;
    grid-template-columns:repeat(1,1fr);
    grid-gap: 20px;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 3px;
}
article .caja-contacto:hover{
    box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.2);
}
small{
    top: -20px;
    position: relative;
}
input, textarea{
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
}
button{
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
}
textarea{
    min-width: 100%;
    max-width: 100%;
    min-height: 100px;
    max-height: 200px;
}
#boton{
    background-color: rgba(66, 165, 245);
    border-radius: 5%;
}
#boton:hover{
    cursor: pointer;
    background-color: rgb(0, 137, 250);
}

@media(min-width: 768px){
    article .caja-contacto{
        margin-left: 27%;
        width: 325px;
    }
}
@media(min-width: 992px){
    article .caja-contacto{
        margin-left: 31%;
        width: 365px;
    }
}
@media(min-width: 1200px){
    article .caja-contacto{
        width: 464px;
    }
}
/*
FINALIZA CONTACTO
*/