footer {
    background-color:#41A4F5;
    width: auto;
    margin-top: 15px;
}
footer .footer-copyright{
    text-align: center;
    font-size: .7rem;
    top: 9px;
    position: relative;
    color: black;
}
footer .footer-fila{
    height: 30px;
    overflow: hidden;
}
footer .footer-a{
    color: black;
}