@import "header.css";
/*
INICIO PRESENTACION
*/
article.presentacion{
    margin-top: 60px;
    background-color:#41A4F5;
    padding-top: 20px;
}
article .caja-presentacion{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-gap: 20px;
}
article .img-foto{
    display: flex;
    justify-content: center;
    align-items: center;    
}
article .foto-perfil{
    height:200px;
    width:200px;
    border-radius: 50%;
}
article .nombre{
    color: white;
    text-align: left;
    padding-top: 0px;
}
article span{
    color: white;
    font-weight: 500;
}

/*
FINALIZA LA PRESENTACION
*/ 

/*
INICIA HABILIDADES*/

article .titulo-habilidades{
    text-align: center;
    margin-top: 50px;
}
article .posicion-descrip{
    text-align: center;
}
article .p-habilidades{
    color: #434E5E;
    font-weight: 500;
    padding-bottom: 90px;
}
article .span-DG{
    color: black;
}
article .caja-padre{
    display: grid;
    grid-template-columns:repeat(1,1fr);
    grid-gap: 20px;
    padding-bottom: 20px;
    place-items: center;
}
article .habilidades{
    display: grid;
    place-items: center;
}
article .caja_frontend,.caja_backend, .caja_tools{
    background-color: rgb(255, 255, 255);
    height: 300px;
    width: 290px;
    border-radius: 2%;
    position: relative;
    margin-bottom: 40px;
    border-bottom: solid 1px rgb(73, 73, 73, 0.8);
    border-right: solid 1px rgb(73, 73, 73, 0.8);
}
article .caja_frontend:hover{
    box-shadow: 0px 3px 3px 0px #434E5E;
}
article .caja_backend:hover{
    box-shadow: 0px 3px 3px 0px #434E5E;
}
article .caja_tools:hover{
    box-shadow: 0px 3px 3px 0px #434E5E;
}
article .caja-icono{
    font-size: 60px;
    position: relative;
    right: -95px;
    top: -14;
    width: 80px;
}
article .list-habilidades{
    list-style: none;
    margin-left: 60px;
    padding-top: 15px;
}
article .titulo-caja1{
    padding-left: 80px;
}
article .titulo-caja2{
    padding-left: 76px;
}
article .titulo-caja3{
    padding-left: 62px;
}
/*
FINALIZA HABILIDADES
*/
/*MOVIL*/
@media (min-width: 768px){
    article .caja-presentacion{
        grid-template-columns: repeat(2,1fr);
        margin-bottom: 20px;
    }
    article .caja-padre{
        padding: 0;
        grid-template-columns:repeat(3,1fr);
        grid-template-areas: "caja_frontend caja_backend caja_tools";
    }
    article .caja{
        height: 327px;
        width: 227px;
    }
    article .caja-icono{
        right: -77px;
    }
    article .titulo-caja1{
        padding-left: 65px;
    }
    article .titulo-caja2{
        padding-left: 60px;
    }
    article .titulo-caja3{
        padding-left: 48px;
    }
    article .list-habilidades{
        margin-left: 42px;
    }
    article .caja_backend{
        grid-area: caja_backend;
        width: 230px;
    }
    article .caja_frontend{
        grid-area: caja_frontend;
        width: 230px;
    }
    article .caja_tools{
        width: 230px;
        grid-area: caja_tools;
    }

}
/*
/*TABLET*/
@media (min-width:992px){
    article .caja-icono{
        right: -90px;
    }
    article .titulo-caja1{
        padding-left: 82px;
    }
    article .titulo-caja2{
        padding-left: 74px;
    }
    article .titulo-caja3{
        padding-left: 56px;
    }
    article .list-habilidades{
        margin-left: 55px;
    }
    article .caja-padre{
        grid-gap: 45px;
    }
    article .caja_backend{
        grid-area: caja_backend;
        width: 250px;
    }
    article .caja_frontend{
        grid-area: caja_frontend;
        width: 250px;
    }
    article .caja_tools{
        width: 250px;
        grid-area: caja_tools;
    }
    
}
@media(min-width: 1200px){
    article .caja-padre{
        grid-gap: 100px;
    }
    article .foto-perfil{
        width: 200px;
        height: 200px;
    }

}
