@import "header.css";
@import "presentacion.css";
/*
INICIA PROYECTO
*/
article.proyecto{
    background-color:#41A4F5;
    height: auto;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
article.proyecto h2{
    padding-top: 30px;
    color: rgb(255, 255, 255);
}
article .presentacion-proyecto{
    text-align: justify;
}
article .caja-proyecto-padre{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 20px;
}

div .titulo-1{
    color: #000;
    font-weight: 700;
    text-align: center;
    display: flex;
    justify-content: center;
}
div .titulo-2{
    color: #000;
    font-weight: 700;
    text-align: center;
    display: flex;
    justify-content: center;
}
article .caja-proyecto{
    width: 290px;
    height: auto;
    border-radius: 2%;
    position: relative;
    background-color: #41A4F5;
}
article .caja-proyecto img{
    border-radius: 2%;
    height: 70%;
    width: 100%;
    cursor: pointer;
}
div .btn-html-css{
    display: flex;
    align-content: center;
    justify-content: center;
}
div .btn-nodejs-mysql{
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 0px;
}
div .btn-success{
    width: auto;
    margin-bottom: 3px;
}
div .btn-nodejs-mysql .btn-primary{
    height: 40px;
    width: 80px;
    margin-right: 8px;
}
div .btn-javascript-bootstrap{
    display: flex;
    align-content: center;
    justify-content: center;
}
.btn-danger,.btn-primary{
    margin-right: 31px ;
    margin-bottom: 3px;
    margin-left: 28px;
    width: 68px;
}
.btn-warning{
    width: 110px;
    margin-right: 16px;
}
.btn-bootstrap{
    width: 110px;
    color: #000;
    background-color: #563D7C;
    border-color: #563D7C;
}
/*
FINALIZA PROYECTO
*/
@media (min-width: 768px){
    article .caja-proyecto{
        width: 286px;
        margin: 20px;
    }
}

@media(min-width: 1200px){
    article .caja-proyecto{
        width: 250px;
    }
}