@import "header.css";
@import "presentacion.css";
/*
INICIA PROYECTO
*/
article.proyecto{
    background-color:#41A4F5;
    height: auto;
    padding-bottom: 20px;
}
article.proyecto h2{
    padding-top: 30px;
    color: rgb(255, 255, 255);
}
article .presentacion-proyecto{
    text-align: justify;
}
article .caja-proyecto-padre{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    grid-gap: 30px;
    margin: 15px;
    padding-bottom: 20px;
}
article .caja-proyecto{
    width: 350px;
    height: 350px;
    border-radius: 2%;
    position: relative;
    background-color: turquoise;
}
article .caja-proyecto img{
    height: 70%;
    width: 100%;
}
/*
FINALIZA PROYECTO
*/
@media screen and (max-width:868px) and (min-width: 338px){
    article .caja-proyecto{
        width: 286px;
    } 
}